# Dependencies
/node_modules
/frontend/MiniHelpdesk/node_modules
/backend/node_modules

# Environment Variables - Inko kabhi bhi GitHub par push na karein
.env
*.env
/frontend/MiniHelpdesk/.env
/backend/.env

# Production
/dist
/frontend/MiniHelpdesk/dist